https://www.perplexity.ai/search/72794e36-7b92-4a94-8fa2-8fd264bef9ad

In [5]:
import pandas as pd
df = pd.read_csv("taiwan.csv")
display(df)

     國家          日期     總確診數  新增確診數  新增死亡數
0    台灣  2020-01-16        0      0      0
1    台灣  2020-01-17        0      0      0
2    台灣  2020-01-18        0      0      0
3    台灣  2020-01-19        0      0      0
4    台灣  2020-01-20        0      0      0
..   ..         ...      ...    ...    ...
898  台灣  2022-07-02  3837856  34807     96
899  台灣  2022-07-03  3870528  32672     88
900  台灣  2022-07-04  3893643  23115     69
901  台灣  2022-07-05  3929627  35984    103
902  台灣  2022-07-06  3964188  34561     95

[903 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國家      903 non-null    object
 1   日期      903 non-null    object
 2   總確診數    903 non-null    int64
 3   新增確診數   903 non-null    int64
 4   新增死亡數   903 non-null    int64
dtypes: int64(3), object(2)
memory usage: 35.4+ KB

In [8]:
df[["日期","總確診數"]]

             日期     總確診數
0    2020-01-16        0
1    2020-01-17        0
2    2020-01-18        0
3    2020-01-19        0
4    2020-01-20        0
..          ...      ...
898  2022-07-02  3837856
899  2022-07-03  3870528
900  2022-07-04  3893643
901  2022-07-05  3929627
902  2022-07-06  3964188

[903 rows x 2 columns]

In [19]:
df.iloc[:5]
df.loc[[0,1,2,3,4]]
df1 = df.iloc[700:710]
mask = df1["新增確診數"] >= 12
df1[mask]

     國家          日期   總確診數  新增確診數  新增死亡數
700  台灣  2021-12-16  16771     12      0
701  台灣  2021-12-17  16786     15      0
702  台灣  2021-12-18  16799     13      0
706  台灣  2021-12-22  16840     14      0
707  台灣  2021-12-23  16853     13      0
708  台灣  2021-12-24  16873     20      0
709  台灣  2021-12-25  16891     18      0

In [25]:
df["日期"] <= "2020-01-20"

0       True
1       True
2       True
3       True
4       True
       ...
898    False
899    False
900    False
901    False
902    False
Name: 日期, Length: 903, dtype: bool

In [32]:
mask = (df["日期"] >= "2020-01-20") & (df["日期"] <= "2020-02-01") 
df[mask]

    國家          日期  總確診數  新增確診數  新增死亡數
4   台灣  2020-01-20     0      0      0
5   台灣  2020-01-21     0      0      0
6   台灣  2020-01-22     1      0      0
7   台灣  2020-01-23     1      0      0
8   台灣  2020-01-24     3      2      0
9   台灣  2020-01-25     3      0      0
10  台灣  2020-01-26     4      1      0
11  台灣  2020-01-27     5      1      0
12  台灣  2020-01-28     8      3      0
13  台灣  2020-01-29     8      0      0
14  台灣  2020-01-30     9      1      0
15  台灣  2020-01-31    10      1      0
16  台灣  2020-02-01    10      0      0

In [36]:
#實體方法query(字串)
df.query('日期 >= "2020-1-20" and 日期 < "2020-2-1" and 總確診數 >=5')

     國家          日期  總確診數  新增確診數  新增死亡數
259  台灣  2020-10-01   515      1      0
260  台灣  2020-10-02   517      2      0
261  台灣  2020-10-03   517      0      0
262  台灣  2020-10-04   517      0      0
263  台灣  2020-10-05   518      1      0
..   ..         ...   ...    ...    ...
346  台灣  2020-12-27   785      2      0
347  台灣  2020-12-28   793      8      0
348  台灣  2020-12-29   795      2      0
349  台灣  2020-12-30   797      2      0
350  台灣  2020-12-31   799      2      0

[92 rows x 5 columns]

In [39]:
df['日期'] = pd.to_datetime(df['日期'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國家      903 non-null    object
 1   日期      903 non-null    datetime64[ns]
 2   總確診數    903 non-null    int64
 3   新增確診數   903 non-null    int64
 4   新增死亡數   903 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 35.4+ KB

In [40]:
df.query('日期=="2020/01/16"')
df.query('日期=="2020-01-16"')

C:\Users\Eva\AppData\Local\Temp\ipykernel_20172\3145890345.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df.query('日期=="2020/01/16"')
C:\Users\Eva\AppData\Local\Temp\ipykernel_20172\3145890345.py:2: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df.query('日期=="2020-01-16"')

   國家         日期  總確診數  新增確診數  新增死亡數
0  台灣 2020-01-16     0      0      0

In [ ]:
df.query('日期 in "2020-01-16"')

C:\Users\Eva\AppData\Local\Temp\ipykernel_20172\3963673277.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df.query('日期 in "2020-01-16"')

   國家         日期  總確診數  新增確診數  新增死亡數
0  台灣 2020-01-16     0      0      0

In [ ]:
df2 = df.set_index("日期")

            國家     總確診數  新增確診數  新增死亡數
日期
2020-01-16  台灣        0      0      0
2020-01-17  台灣        0      0      0
2020-01-18  台灣        0      0      0
2020-01-19  台灣        0      0      0
2020-01-20  台灣        0      0      0
...         ..      ...    ...    ...
2022-07-02  台灣  3837856  34807     96
2022-07-03  台灣  3870528  32672     88
2022-07-04  台灣  3893643  23115     69
2022-07-05  台灣  3929627  35984    103
2022-07-06  台灣  3964188  34561     95

[903 rows x 4 columns]

In [50]:
df2.loc["2020"]
df2.loc["2020-02"]
df2.loc["2020-01":"2020-06"]

            國家  總確診數  新增確診數  新增死亡數
日期
2020-01-16  台灣     0      0      0
2020-01-17  台灣     0      0      0
2020-01-18  台灣     0      0      0
2020-01-19  台灣     0      0      0
2020-01-20  台灣     0      0      0
...         ..   ...    ...    ...
2020-06-26  台灣   447      0      0
2020-06-27  台灣   447      0      0
2020-06-28  台灣   447      0      0
2020-06-29  台灣   447      0      0
2020-06-30  台灣   447      0      0

[167 rows x 4 columns]