<a href="https://colab.research.google.com/github/margart0114/Python_20250503/blob/main/lesson4/lesson4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#range串列資料
- range(10)會有10個元素，0~9

#資料結構
#list dictionary set
- list是串列資料(sequence)
 -[1,2,3,4,5,6]
- tuple串列資料

#python詞典物件介紹
- dictionary詞典資料 (map資料類型)
-{key:value,key:value,key:value}
-一組相關聯的資料

#Tuple
- (1,2,3,4,5,6)

表格資料，就是list裡面有dict

In [5]:
for i in [45, 92, 78, 50, 69]:
  print(i)

45
92
78
50
69

In [6]:
#tuple
for i in(45, 92, 78, 50, 69):
  print(i)

45
92
78
50
69

#python list和tuple有何差別
---
- list是永久的資料

- tuple是暫時資料

In [8]:
desserts = {'Muffin':39,'Scone':25,'Biscuit':20}
desserts["Muffin"]
desserts["Biscuit"]

20

In [10]:
stu1 = {"name":"robert",
     "chinese":78,
     "english":98,
     "math":73}

stu2 = {"name":"alice",
     "chinese":72,
     "english":88,
     "math":63}

stu3 = {"name":"jenny",
     "chinese":65,
     "english":78,
     "math":93}

In [13]:
type(stu3)

dict

In [15]:
students = [stu1,stu2,stu3]
students

[{'name': 'robert', 'chinese': 78, 'english': 98, 'math': 73},
 {'name': 'alice', 'chinese': 72, 'english': 88, 'math': 63},
 {'name': 'jenny', 'chinese': 65, 'english': 78, 'math': 93}]

In [20]:
for student in students:
  print("姓名:",student["name"])
  print("國文:",student["chinese"])
  print("英文:",student["english"])
  print("數學:",student["math"])
  print("=================")

姓名: robert
國文: 78
英文: 98
數學: 73
=================
姓名: alice
國文: 72
英文: 88
數學: 63
=================
姓名: jenny
國文: 65
英文: 78
數學: 93
=================